
  
<ion-view title="EmployeeAdd" id="page6" style="" >
    <ion-content padding="true" class="has-header">
        <form id="employeeAdd-form1" class="list" ng-submit="addMessage()">
            <ion-list id="employeeAdd-list2">
                <label class="item item-input" id="employeeAdd-name">
                    <span class="input-label">Name</span>
                    <input placeholder="name" type="text" ng-model="name" ng-model-options="{ updateOn: 'blur' }" id="name">
                </label>
                <label class="item item-input" id="employeeAdd-phone">
                    <span class="input-label">Phone number</span>
                    <input placeholder="ej:676777777" type="tel" ng-model="phone" >
                </label>
                <label class="item item-input" id="employeeAdd-email">
                    <span class="input-label">Email</span>
                    <input placeholder="sample@sample.com" type="text" ng-model="email">
                </label>
                 <label class="item item-input" id="employeeAdd-password">
                    <span class="input-label">Password</span>
                    <input placeholder="*****" type="password" ng-model="pass">
                    
                </label>
            </ion-list>
            <button id="employeeAdd-button2" class="button button-stable  button-block" ng-click="doClick()">Sign up</button>
        </form>
                    <pre>Name = "{{name}}"</pre>
                     <pre>Phone = "{{phone}}"</pre>
                     <pre>Email = "{{email}}"</pre>
                     <pre>Password = "{{pass}}"</pre>
                
    </ion-content>
</ion-view>