    <h2>Please choose a time</h2>
    
<ion-view name="menuContent" title="Full Calendar" id="page3" style="">

    <ion-content scroll="true" has-bouncing="false" class="showScroll">
            <div class="row">
            	
              <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
             </div>
     <button class="button button-stable  button-block"  ng-click="addEvent()">Submit Time</button>
     </ion-content>
</ion-view>
</ion-content>

    <ion-footer-bar>

    </ion-footer-bar>