<style>
#calendar {
    width:95%;
    margin: 0 auto;
    font-size: 10px;
    padding-left: 5%;
}


</style>
    
<ion-view name="menuContent" title="Full Calendar" id="page3" style="">

    <ion-content scroll="true" has-bouncing="false" class="showScroll">
        <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
            <div class="row">
            	
              <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" id='calendar'></div> 
             </div>
     <button class="button button-stable  button-block"  ng-click="addEvent()">Submit Time</button>
     </ion-content>
    <ion-footer-bar>

    </ion-footer-bar>
</ion-view>

