<ion-view title="Hours of Operations" id="page10" style="">
  <ion-header-bar class="bar-positive">
      <h1 class="title">Checkboxes</h1>
    </ion-header-bar>
             
    <ion-content>
      
      
        
        <ion-checkbox ng-repeat="day in weekList track by $index" type="checkbox" name="selectedDays[]" value="{{day.name}}" ng-model="day.selected">
            <h4>{{day.name}}</h4>
            

        </ion-checkbox>
        
        
     <div style="margin-right:-20px;">
      <a ui-sref="timeOff" id="settings-button9" style="left:-10px;color:#183BDE;border-radius:-8px -8px -8px -8px;" class="button button-light  button-full button-clear icon-left ion-ios-timer" ng-click="addWeek()">Set Business Time</a>
    </div>
      
    </ion-content>
</ion-view>