<ion-view title="Hours of Operations" id="page10" style="">
  <ion-header-bar class="bar-positive">
      <h1 class="title">Checkboxes</h1>
    </ion-header-bar>
             
    <ion-content>
      
      <div class="list">
        
        <ion-checkbox ng-repeat="item in weekList" ng-model="item.checked" ng-checked="item.checked">
          <h3>{{ item.text }}</h3>
        </ion-checkbox>
        
        
        
     <div style="margin-right:-20px;">
      <a ui-sref="timeOff" id="settings-button9" style="left:-10px;color:#183BDE;border-radius:-8px -8px -8px -8px;" class="button button-light  button-full button-clear icon-left ion-ios-timer" ng-click="addWeek()">Set Business Time</a>
    </div>
      
    </ion-content>
</ion-view>