<ion-view title="My Calendar" id="page8" style="">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.detailedCalendar" id="myCalendar-button6" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-block button-clear">Todays's Appointments</a>

	<div class="card" ng-repeat="event in events">
					<div class="item item-divider">
						{{event.title}}
					</div>					
					<div class="item item-text-wrap">
						{{ event.description }}
						<p/>
						<strong>When: {{ event.date | date:'short' }}</strong>
												
						<p ng-if="event.status">This event is added to your calendar already!</p>
						<button ng-if="!event.status" ng-click="addEvent(event,$index)" class="button button-block button-balanced">Add to Calendar</button>
												
					</div>
				</div>
    </ion-content>
</ion-view>