
    <ion-nav-view name="menuContent" animation="slide-right-left"></ion-nav-view>

    <ion-view>
    <ion-content scroll="true" has-bouncing="false" class="showScroll">
            <div class="row">
            	<div class="col col-100" >
              <div ui-calendar="calendarOptions" ng-model="eventSources" calendar="dayCalendar"></div>
              
              </div>
             </div>
             
             <a id="settings-button9" style="left:-10px;color:#183BDE;border-radius:-8px -8px -8px -8px;" class="button button-light  button-full button-clear icon-left ion-ios-timer" ng-click="addApp()">Set appointment</a>
     </ion-content>
    </ion-view>
