<ion-view title="Calendar" id="page6">
  <ion-content padding="true" class="has-header">
    
<div class="row times">
    

            
    <p>{{ day.name }}</p>
     <ion-list class="time-slot" ng-repeat="day in days">
    
    <ion-item class="item-remove-animate item-avatar item-icon-right " ng-repeat="slot in day.slots">     

      <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">

      <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
        <span ng-if="slot.booked">Booked</span>
        <span ng-if="!slot.booked">Available</span>
      </label>
      </ion-item>
      
       <ion-list>
  </div>       
    
</div>  
 
  
<p class="text-center">    
    <a href="#" class="btn btn-primary" ng-click="reset()">Reset</a>
  </p>
</div>
    
    
    <a ui-sref="customerMenu.appointmentTime" id="calendar-button3" class="button button-positive  button-block">Confirm Appointment</a>
  </ion-content>
</ion-view>