<ion-view title="add new" id="page4" style="">
    <ion-content padding="true" class="has-header">
        <form id="addNew-form4" class="list">
            <ion-list id="addNew-list4">
                <label class="item item-input item-stacked-label" id="addNew-input1">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input item-stacked-label" id="addNew-input2">
                    <span class="input-label">phone number</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input item-stacked-label" id="addNew-input3">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <button id="addNew-button1" style="border-radius:-14px -14px -14px -14px;" class="button button-calm  button-block button-clear">Add</button>
        </form>
    </ion-content>
</ion-view>