<ion-view title="Appointments" id="page1">
    <ion-content padding="true" class="has-header">
        <h2 id="appointments-heading1" style="color:#000000;text-align:center;">Today's Date</h2>
        <ion-list id="appointments-list1">
            <ion-item class="item-avatar" id="appointments-list-item5">
                <h2>Customer 1</h2>
            </ion-item>
            <ion-item class="item-divider" id="appointments-list-item-divider1">10:00 AM</ion-item>
            <ion-item class="item-avatar" id="appointments-list-item6">
                <h2>Customer 2</h2>
            </ion-item>
            <ion-item class="item-divider" id="appointments-list-item-divider2">11:30 AM</ion-item>
            <ion-item class="item-avatar" id="appointments-list-item7">
                <h2>Customer 3</h2>
            </ion-item>
            <ion-item class="item-divider" id="appointments-list-item-divider3">1:00 PM</ion-item>
            <ion-item class="item-avatar" id="appointments-list-item8">
                <h2>Customer 4</h2>
            </ion-item>
            <ion-item class="item-divider" id="appointments-list-item-divider4">4:00 PM</ion-item>
        </ion-list>
    </ion-content>
</ion-view>