<ion-view title="Barbers" id="page6" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="barbers-list7">
            <ion-item class="item-avatar positive" id="barbers-list-item13" style="">
                <h2positive>barber1</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive" id="barbers-list-item14" style="">
                <h2positive>barber2</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive" id="barbers-list-item15" style="">
                <h2positive>barber3</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive" id="barbers-list-item16" style="">
                <h2positive>barber4</h2positive>
            </ion-item>
            <ion-item class="item-avatar positive" id="barbers-list-item17" style="">
                <h2positive>barber5</h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>