<ion-view title="DetailedCalendar" id="page7" style="">
    <ion-content padding="true" class="has-header">
        <form id="detailedCalendar-form5" class="list">
            <ion-toggle toggle-class="toggle-positive" id="detailedCalendar-toggle3">Emergency day off</ion-toggle>
        </form>
        <h3 id="detailedCalendar-heading5" style="color: rgb(0, 0, 0);">Appointments</h3>
        <div id="detailedCalendar-container2">
            <form id="detailedCalendar-form6" class="list">
                <div class="spacer" style="width: 300px; height: 16px;"></div>
                <ion-item class="item-avatar" id="detailedCalendar-list-item10" style="">
                    <h2>Item</h2>
                </ion-item>
            </form>
        </div>
    </ion-content>
</ion-view>