<ion-view title="EmployeeAdd" id="page6" style="">
    <ion-content padding="true" class="has-header">
        <form id="employeeAdd-form1" class="list">
            <ion-list id="employeeAdd-list2">
                <label class="item item-input" id="employeeAdd-input1">
                    <span class="input-label">Name</span>
                    <input placeholder="" type="text">
                </label>
                <label class="item item-input" id="employeeAdd-input2">
                    <span class="input-label">Phone number</span>
                    <input placeholder="" type="tel">
                </label>
                <label class="item item-input" id="employeeAdd-input3">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <button id="employeeAdd-button2" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>