<ion-view title="EmployeeCalendar" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="employeeCalendar-button-bar1" class="button-bar"></div>
        <div class="list card" id="employeeCalendar-card21"></div>
        <div id="employeeCalendar-button-bar3" class="button-bar"></div>
        <div id="employeeCalendar-button-bar4" class="button-bar"></div>
        <div id="employeeCalendar-button-bar5" class="button-bar"></div>
        <div id="employeeCalendar-button-bar6" class="button-bar"></div>
        <div id="employeeCalendar-button-bar7" class="button-bar"></div>
        <div id="employeeCalendar-button-bar8" class="button-bar"></div>
        <div id="employeeCalendar-button-bar9" class="button-bar"></div>
        <div id="employeeCalendar-button-bar11" class="button-bar"></div>
    </ion-content>
</ion-view>