<ion-view title="Employee Reviews" id="page3">
    <ion-content padding="true" class="has-header">
        <h1 id="employeeReviews-heading3" style="color:#000000;text-align:center;">Recent Reviews</h1>
        <ion-list id="employeeReviews-list2">
            <ion-item class="item-avatar" id="employeeReviews-list-item9">
                <h2>I got a great haircut</h2>
            </ion-item>
            <ion-item class="item-divider" id="employeeReviews-list-item-divider5">User 1</ion-item>
            <ion-item class="item-avatar" id="employeeReviews-list-item10">
                <h2>It was a bad haircut</h2>
            </ion-item>
            <ion-item class="item-divider" id="employeeReviews-list-item-divider6">User 2</ion-item>
            <ion-item class="item-avatar" id="employeeReviews-list-item11">
                <h2>He gave me a mohawk</h2>
            </ion-item>
            <ion-item class="item-divider" id="employeeReviews-list-item-divider7">User 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>