<ion-view title="Full  Calendar" id="page9" style="">
    <ion-content padding="true" class="has-header">
        <h3 id="fullCalendar2-heading6" style="color: rgb(0, 0, 0); text-align: center;">All appointments</h3>
        <div id="fullCalendar2-container3">
            <form id="fullCalendar2-form10" class="list">
                <div class="spacer" style="width: 300px; height: 16px;"></div>
                <ion-item class="item-avatar" id="fullCalendar2-list-item17" style="">
                    <h2>Item</h2>
                </ion-item>
            </form>
        </div>
    </ion-content>
</ion-view>