<ion-view title="Full Calendar" id="page3" style="">
    <ion-content padding="true" class="has-header">
        <h3 id="fullCalendar-heading4" style="color: rgb(0, 0, 0);">Appointments</h3>
        <button id="fullCalendar-button7" class="button button-balanced  button-block button-clear">Today's Appointments</button>
        <form id="fullCalendar-form7" class="list">
            <label class="item item-select" id="fullCalendar-select3">
                <span class="input-label">Select Month</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>