        <style>
#calendar {
    width:95%;
    margin: 0 auto;
    font-size: 10px;
    padding-left: 5%;
}
.fc-toolbar h2 {
    font-size: 15px;
    white-space: normal !important;
}

</style>


<ion-view title="Employee Appointments" id="page1">
    <ion-content padding="true" class="has-header"  has-bouncing="false">
        <h2 id="employeeAppointments-heading1" style="color:#000000;text-align:center;">Today's Date</h2>
        
    



            <div class="row">
            	
              <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" id='calendar'></div> 
             </div>
     <button class="button button-stable  button-block"  ng-click="addEvent()">Submit Time</button>
     </ion-content>
        
    </ion-content>
</ion-view>